body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
    filter: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 10px;
}

.double-space {
    margin-top: 20px;
}

.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.collapsible.active {
    background-color: #555; /* Use the hover color as the active color */
}

.scripture-collapsible {
    background-color: #2f3f48 !important; /* Different background color for scripture section */
}

.scripture-collapsible.active {
    background-color: #455a67 !important; /* Use the hover color as the active color for scripture collapsible */
}

.content {
    padding: 0 15px;
    display: none;
    overflow: hidden;
    background-color: #222;
    margin-top: 5px;
}

p {
    margin: 15px 0;
}

.icon {
    font-size: 20px;
    color: white;
}

