body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 10px;
}

.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 15px;
    display: none;
    overflow: hidden;
    background-color: #222;
    margin-top: 5px;
}

p {
    margin: 15px 0;
}

.icon {
    font-size: 20px;
}

